registry=https://scopelybin.jfrog.io/artifactory/api/npm/d2c-webportal-npm-virtual/
email=${NPM_PRIVATE_REGISTRY_EMAIL}
always-auth=true
@scopely:registry=https://scopelybin.jfrog.io/scopelybin/api/npm/npm-releases/
@wwe-portal:registry=https://scopelybin.jfrog.io/artifactory/api/npm/wwe-web-npm-snapshots/
//scopelybin.jfrog.io/artifactory/api/npm/d2c-webportal-npm-virtual/:_auth=${NPM_PRIVATE_REGISTRY_SECRET}
