registry=https://scopelybin.jfrog.io/artifactory/api/npm/d2c-webportal-npm-virtual/
_auth = ${NPM_PRIVATE_REGISTRY_SECRET}
email = ${NPM_PRIVATE_REGISTRY_EMAIL}
always-auth = true

@scopely:registry=https://scopelybin.jfrog.io/scopelybin/api/npm/npm-releases/
_auth = ${NPM_PRIVATE_REGISTRY_SECRET}
email = ${NPM_PRIVATE_REGISTRY_EMAIL}
always-auth = true

@wwe-portal:registry=https://scopelybin.jfrog.io/artifactory/api/npm/wwe-web-npm-snapshots/
_auth = ${NPM_PRIVATE_REGISTRY_SECRET}
email = ${NPM_PRIVATE_REGISTRY_EMAIL}
always-auth = true

# @wwe-portal:registry=https://scopelybin.jfrog.io/artifactory/api/npm/wwe-web-npm-releases/
# _auth = ${NPM_PRIVATE_REGISTRY_SECRET}
# email = ${NPM_PRIVATE_REGISTRY_EMAIL}
# always-auth = true